<div class="card-data-wrapper">
    <div *ngFor="let data of primaryData" class="data-card" (click)="onCardClick(data)">
        <img class="data-card-background" alt="{{getPrimaryValue(data)}}">
        <div class="data-card-content">
            <div class="card-image-wrapper">
                <img src="{{getImage(data)}}" alt="{{getPrimaryValue(data)}}">
            </div>
            <div class="value-primary">{{getPrimaryValue(data)}}</div>
            <div class="value-secondary">{{getSecondaryValue(data)}}</div>
        </div>
    </div>
</div>