<app-card *ngIf="EnableCard" [primaryData]="playersData" [backgroundMap]="'country'"
    (selectedValue)="onPlayerSelected($event)" [ValueParam]="ValueParam"></app-card>

<div class="player-data d-flex h-100p" *ngIf="!EnableCard">
    <div class="player-data-wrapper d-flex column-direction">
        <div class="player-basic-data d-flex row-direction">
            <div class="player-data-image-wrapper">
                <img class="player-image" src="{{selectedData.player.photo}}" alt="Player Photo">
            </div>
            <div class="player-injured" *ngIf="selectedData.player.injured">Injured</div>
            <div class="player-details">
                <h1 class="personal-details">Personal Details</h1>
                <h2 class="player-name">{{selectedData.player.name}}</h2>
                <div class="player-first-name value">
                    <div class="player-first-name label">First Name:</div>
                    {{selectedData.player.firstname}}
                </div>
                <div class="player-last-name value">
                    <div class="player-last-name label">Last Name:</div>
                    {{selectedData.player.lastname}}
                </div>
                <div class="player-age value">
                    <div class="player-age label">Age:</div>
                    {{selectedData.player.age}}
                </div>
                <div class="player-birth-date value">
                    <div class="player-birth-date label">Birth Date:</div>
                    {{selectedData.player.birth.date}}
                </div>
                <div class="player-birth-place value">
                    <div class="player-birth-place label">Birth Place:</div>
                    {{selectedData.player.birth.place}}
                </div>
                <div class="player-birth-country value">
                    <div class="player-birth-country label">Birth Country:</div>
                    {{selectedData.player.birth.country}}
                </div>
                <div class="player-height value">
                    <div class="player-height label">Height:</div>
                    {{selectedData.player.height}}
                </div>
                <div class="player-weight value">
                    <div class="player-weight label">Weight:</div>
                    {{ selectedData.player.weight}}
                </div>
            </div>
        </div>
        <div class="player-stats">
            <div>
                <fusioncharts [width]="fusionChartObject.column3d.width" [height]="fusionChartObject.column3d.height"
                    [type]="fusionChartObject.column3d.type" [dataFormat]="fusionChartObject.column3d.dataFormat"
                    [dataSource]="goalsChartOptions">
                </fusioncharts>
                <hr>
                <fusioncharts [width]="fusionChartObject.line.width" [height]="fusionChartObject.line.height"
                    [type]="fusionChartObject.line.type" [dataFormat]="fusionChartObject.line.dataFormat"
                    [dataSource]="appearanceChartOptions">
                </fusioncharts>
                <hr>
                <fusioncharts [width]="fusionChartObject.pie3d.width" [height]="fusionChartObject.pie3d.height"
                    [type]="fusionChartObject.pie3d.type" [dataFormat]="fusionChartObject.pie3d.dataFormat"
                    [dataSource]="assistsChartOptions">
                </fusioncharts>
                <hr>
                <fusioncharts [width]="fusionChartObject.mssplinearea.width"
                    [height]="fusionChartObject.mssplinearea.height" [type]="fusionChartObject.mssplinearea.type"
                    [dataFormat]="fusionChartObject.mssplinearea.dataFormat" [dataSource]="penaltiesChartOptions">
                </fusioncharts>
            </div>
        </div>
    </div>
</div>